[project]
	description =  personal tools to use and manage sphinxsearch with php.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Christophe Gesché (Moosh-be)
[access "refs/for/refs/*"]
	read = group user/Christophe Gesché (Moosh-be)
	push = group user/Christophe Gesché (Moosh-be)
	label-Code-Review = -2..+2 group user/Christophe Gesché (Moosh-be)
	label-Verified = -1..+1 group user/Christophe Gesché (Moosh-be)
	rebase = group user/Christophe Gesché (Moosh-be)
	removeReviewer = group user/Christophe Gesché (Moosh-be)
	submit = group user/Christophe Gesché (Moosh-be)
[access "refs/heads/*"]
	read = group user/Christophe Gesché (Moosh-be)
	create = group user/Christophe Gesché (Moosh-be)
	push = +force group user/Christophe Gesché (Moosh-be)
	pushMerge = group user/Christophe Gesché (Moosh-be)
[access "refs/tags/*"]
	push = +force group user/Christophe Gesché (Moosh-be)
	pushTag = group user/Christophe Gesché (Moosh-be)
	pushSignedTag = group user/Christophe Gesché (Moosh-be)
